/* Fullscreen backdrop */
.loader-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(12, 12, 12, 0.507);
  z-index: 1200; /* similar to MUI backdrop */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* From Uiverse.io by SmartegaAgency */
/* From Uiverse.io by mrhyddenn */ 
/* From Uiverse.io by JaydipPrajapati1910 */ 
/* From Uiverse.io by Timeless-Eve */ 
/* From Uiverse.io by NlghtM4re */ 
.loader {
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loader div {
  height: 10px;
  width: 10px;
  position: absolute;
  animation: move 4s infinite;
}

.loader div:nth-child(1) {
  background-color: rgb(106, 68, 255);
  box-shadow: rgb(106, 68, 255) 0px 7px 29px 0px;
  transform: translate(-20px,-20px);
  animation-delay: -1s;
}

.loader div:nth-child(2) {
  background-color: rgb(97, 183, 253);
  box-shadow: rgb(97, 183, 253) 0px 7px 29px 0px;
  transform: translate(20px,-20px);
  animation-delay: -2s;
}

.loader div:nth-child(3) {
  background-color: rgb(239, 241, 240);
  box-shadow: rgb(233, 247, 240) 0px 7px 29px 0px;
  transform: translate(20px,20px);
  animation-delay: -3s;
}

.loader div:nth-child(4) {
  background-color: rgb(255, 214, 214);
  box-shadow: rgb(255, 214, 214) 0px 7px 29px 0px;
  transform: translate(-20px,20px);
  animation-delay: -4s;
}

@keyframes move {
  0% {
    transform: translate(-20px, -20px);
  }

  25% {
    transform: translate(20px, -20px);
  }

  50% {
    transform: translate(20px, 20px);
  }

  75% {
    transform: translate(-20px, 20px);
  }

  100% {
    transform: translate(-20px, -20px);
  }
}
